{% extends "base.html" %}
{% block content %}

<h2><i class="bi bi-database-exclamation"></i> SQL Injection</h2>

<div class="card p-4 mb-4">
    <form method="POST">
        <input class="form-control mb-2" name="username" placeholder="Логин">
        <input class="form-control mb-3" name="password" placeholder="Пароль">
        <button class="btn btn-danger">Войти</button>
    </form>
</div>

<div class="alert alert-danger">
    <strong>🔴 УЯЗВИМО:</strong><br>
    Пользовательский ввод напрямую подставляется в SQL-запрос.<br>
    Попробуйте: <code>' OR '1'='1' --</code>
</div>

<div class="alert alert-success">
    <strong>🟢 КАК ИСПРАВИТЬ:</strong><br>
    <b>Для разработчика:</b><br>
    • Никогда не вставлять логин и пароль напрямую в SQL‑запрос.<br>
    • Использовать подготовленные запросы или ORM (например, параметризированные запросы).<br>
    • Проверять и ограничивать ввод пользователя.<br><br>

    <b>Что это даёт:</b><br>
    Пользователь не сможет изменить SQL‑запрос и получить доступ к чужим данным или войти без пароля.
</div>



{% if query %}
<div class="card p-3 mt-4">
    <h5>Результат:</h5>

    {% if success %}
        <div class="alert alert-success">
            ✅ Вход выполнен (SQL-инъекция сработала)
        </div>
    {% else %}
        <div class="alert alert-danger">
            ❌ Вход не выполнен
        </div>
    {% endif %}

    <pre>{{ query }}</pre>
</div>
{% endif %}



<div class="d-flex gap-2 mb-4">

    <a href="/docs/sql_injection" class="btn btn-outline-info">
        📖 Описание уязвимости (Markdown)
    </a>
</div>



{% endblock %}
