{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">
    <i class="bi bi-journal-text"></i> Источники информации
</h2>

<div class="card p-4">
    <ol>
        <li>Radware Cyberpedia. (2023). "SQL Injection: Examples, Real Life Attacks & 9 Defensive Methods"</li>
        <li>PortSwigger Web Security Academy. "SQL Injection"</li>
        <li>Bright Security. (2025). "SQL Injection Attack: Examples and Prevention Tips"</li>
        <li>Lipson Thomas. (2025). "4 Shocking Case Studies on SQL Injection"</li>
        <li>Bright Security. (2025). "XSS Attack: 3 Real Life Attacks and Code Examples"</li>
        <li>MDN Web Docs. "Cross-site scripting (XSS)"</li>
        <li>OWASP Foundation. "Cross Site Scripting (XSS)"</li>
        <li>Bright Security. (2025). "Directory Traversal Attack"</li>
        <li>PortSwigger Web Security Academy. "Path Traversal"</li>
        <li>OWASP Foundation. "Path Traversal"</li>
        <li>Snyk. "Directory Traversal Security Lesson"</li>
        <li>Clear Gate. (2025). "File Upload RCE Exploitation"</li>
        <li>PortSwigger Web Security Academy. "File Uploads"</li>
        <li>Cobalt.io. "File Upload Vulnerabilities"</li>
        <li>OWASP Foundation. "Unrestricted File Upload"</li>
        <li>AuthGear. (2025). "Session Hijacking"</li>
        <li>The SSL Store. (2023). "Cookie Hijacking Guide"</li>
        <li>OWASP Foundation. "Session Hijacking"</li>
        <li>DarknetSearch. (2025). "Cookie Hijacking"</li>
        <li>Seraphic Security. (2025). "Session Hijacking in 2025"</li>
    </ol>
</div>

{% endblock %}
