{% extends "base.html" %}
{% block content %}

<h2><i class="bi bi-folder2-open"></i> Directory Traversal</h2>

<div class="card p-4 mb-4">
    <form method="GET">
        <input class="form-control mb-3" name="file" placeholder="Имя файла">
        <button class="btn btn-primary">Открыть</button>
    </form>
</div>

{% if content %}
<pre class="bg-dark text-light p-3">{{ content }}</pre>
{% endif %}

<div class="alert alert-danger">
    <strong>🔴 УЯЗВИМО:</strong><br>
    Пользователь управляет путем к файлу.<br>
    Пример: <code>../../app.py</code>
</div>

<div class="alert alert-success">
    <strong>🟢 КАК ИСПРАВИТЬ:</strong><br>
    <b>Для разработчика:</b><br>
    • Запретить пользователю указывать путь к файлу полностью.<br>
    • Разрешать доступ только к заранее заданной папке.<br>
    • Проверять имя файла по списку разрешённых.<br><br>

    <b>Что это даёт:</b><br>
    Пользователь не сможет читать системные файлы и исходный код сайта.
</div>


{% if error %}
<div class="alert alert-danger">
    {{ error }}
</div>
{% endif %}




<div class="d-flex justify-content-between align-items-center mb-3">
    <a href="/docs/traversal"
       class="btn btn-outline-info">
        📘 Теория уязвимости
    </a>
</div>


{% endblock %}
