{% extends "base.html" %}
{% block content %}
<h2>File Upload</h2>
<p>Загрузите любой файл — сайт НЕ проверяет тип.</p>

<form method="POST" enctype="multipart/form-data" class="card p-3">
    <input type="file" name="file" class="form-control">
    <button class="btn btn-success mt-3">Загрузить</button>
</form>

{% if filename %}
<hr>
<p>Файл загружен как: <b>{{ filename }}</b></p>
{% endif %}

<hr>
<h4>Объяснение</h4>
<p>
File Upload уязвимость позволяет загружать:
</p>
<ul>
    <li>веб‑шеллы (.php, .asp, .jsp)</li>
    <li>скрипты</li>
    <li>файлы, которые сервер выполнит</li>
</ul>

<p>Это одна из самых опасных уязвимостей.</p>
{% endblock %}
